{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'invernadero/styles.css' %}" rel="stylesheet">

        <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->	
        <link rel="icon" type="image/png" href="{% static 'invernadero/images/icons/favicon.ico' %}"/>
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'invernadero/vendor/bootstrap/css/bootstrap.min.css' %}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'invernadero/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'invernadero/vendor/animate/animate.css' %}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'invernadero/vendor/select2/select2.min.css' %}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'invernadero/vendor/perfect-scrollbar/perfect-scrollbar.css' %}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'invernadero/css/util.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'invernadero/css/main.css' %}">

        <script src="{% static 'invernadero/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	    <script src="{% static 'invernadero/vendor/bootstrap/js/popper.js' %}"></script>
	    <script src="{% static 'invernadero/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	    <script src="{% static 'invernadero/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
        <script src="{% static 'invernadero/js/main.js' %}"></script>
        
        {% block update %} {% endblock %}

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Monitor invernadero</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'invernadero:index' %}">Monitor <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'invernadero:historico' %}">Datos historicos </a>
                </li>
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'invernadero:logout' %}">Cerrar sesión </a>
                </li>
                {% endif %}
              </ul>
            </div>
        </nav>

    </head>
    <body>
        
        <div class="limiter">
            <div class="container-table100">
                {% block message %}
                {% endblock %}
                <div class="wrap-table100">
                    <div class="table100 ver6 m-b-110">
                        {% block body %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        
    </body>
</html>